<!--
   Author: David Kent, Worcester Polytechnic Institute
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: August 7, 2014
-->

<launch>
  <node name="nav_safety" pkg="carl_safety" type="nav_safety" output="screen" />
  
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
</launch>
